apiVersion: v1
kind: Secret
metadata:
  name: paprika-secrets
type: Opaque
stringData:
  LARAVEL_DATABASE_HOST: "${LARAVEL_DB_HOST}"
  LARAVEL_DATABASE_PORT_NUMBER: "${LARAVEL_DB_PORT}"
  LARAVEL_DATABASE_NAME: "${LARAVEL_DB_DATABASE}"
  LARAVEL_DATABASE_USER: "${LARAVEL_DB_USERNAME}"
  LARAVEL_DATABASE_PASSWORD: "${LARAVEL_DB_PASSWORD}"
  LARAVEL_HOST: "${LARAVEL_APP_URL}"
